#section{
    border: 3px solid black;
    margin: 20px 400px ;
    background-color: rgb(247, 225, 186);
}


.section1 input{
    /* width: 150px; */
    height: 50px;
    background-color: blue;
    border:none;
    outline: none;
    color: white;
    padding-left: 10px;
    font-size: 2rem;
    margin-right: 30px;
    text-align: center;
}

.section1 input::placeholder{
    color: white;
}

#button{
    background-color: white;
    border: none;
    outline: none;
    margin-top: 20px;
}

#solution{
    width: 70%;
    height: 120px;
    border: 4px solid rgb(209, 144, 144);
    margin-top: 20px;
    text-align: center;
    font-weight: 700;
    font-size: 5rem;
    overflow: hidden;
}